<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Página de Usuarios</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container mt-5">
 <div class="row justify-content-center"> <div class="col-md-6">

 <div class="card shadow">

 <div class="card-header bg-success text-white text-center">
    <h3>Página de Usuarios</h3>
  </div>

    <div class="card-body">
 <h4 class="text-center mb-3">
     Bienvenido,
     <span class="text-success" sec:authentication="name">
         usuario
     </span>
 </h4>

     <p class="text-center text-muted">
       Página de inicio de usuarios.
     </p>

       <div class="d-grid mb-3" sec:authorize="hasRole('ROLE_USUARIO')">
        <a th:href="@{/usuarios}" class="btn btn-success"> Administrar Usuarios</a>
        </div>

      <div class="d-grid mb-3" sec:authorize="hasRole('ROLE_USUARIO')">
        <a th:href="@{/citas/mis-citas}" class="btn btn-success"> Citas</a>
      </div>

    <form th:action="@{/logout}" method="post">
         <div class="d-grid">
           <button type="submit" class="btn btn-danger">
             Cerrar sesión
          </button>
         </div>
      </form>


        </div>

   </div>

  </div>
    </div>
</div>

</body>
</html>